<div class="row justify-content-center align-items-center">
    <div class="col-4">
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Enter Input Here</label>
                <input type="text" class="form-control" id="UserInput" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <button type="button" class="btn btn-primary" id="UserInputBtn">Console User Input</button>
            <button type="button" class="btn btn-primary" id="GetProvinces">Get Provinces by Using Post Jquery</button>
        </form>
    </div>
</div>
<div id="showprovince">
    
</div>
@section Scripts{ 
    <script src="~/js/CustomScript.js"></script>
}