@model CrudOperationCore.ViewModel.UserViewModel

@{
    ViewData["Title"] = "RegisterUser";
}

    <h1>Register User</h1>
<hr />
<div class="row justify-content-center align-items-center">
    <div class="col-md-6">
        <form asp-action="RegisterUser" enctype="multipart/form-data">
            @*<div asp-validation-summary="All" class="text-danger"></div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="FatherName" class="control-label"></label>
                        <input asp-for="FatherName" class="form-control" />
                        <span asp-validation-for="FatherName" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="ContactNo" class="control-label"></label>
                        <input asp-for="ContactNo" class="form-control" />
                        <span asp-validation-for="ContactNo" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="SelectedProvince"></label>

                        <select asp-for="SelectedProvince" asp-items="Model.ProvincesList" class="form-control">
                        </select>
                        <span asp-validation-for="SelectedProvince" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="SelectedCity"></label>

                        <select asp-for="SelectedCity" asp-items="Model.CitiesList" class="form-control">
                        </select>
                        <span asp-validation-for="SelectedCity" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <div>
                            <label asp-for="SelectedGender"></label>
                        </div>
                         @foreach (var item in Model.Genders)
                        {
                    <div class="form-check form-check-inline">
                        <label class="form-check-label mr-2" asp-for="SelectedGender">@item.GenderName</label>
                        <input class="form-check-input" type="radio" asp-for="SelectedGender" value="@item.GenderId">
                    </div>
                        }
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="IsAttendSchool"></label>
                        <select asp-for="IsAttendSchool" class="form-control">
                            <option value="">Choose Right Option</option>
                            <option value="true">Yes Attended School</option>
                            <option value="false">Sorry Not Attended School</option>
                        </select>
                        <span asp-validation-for="IsAttendSchool" class="text-danger"></span>
                    </div>
                </div>
            </div>
            

            <div class="form-group">
                <label asp-for="HomeAddress" class="control-label"></label>
                <textarea asp-for="HomeAddress" class="form-control" cols="100" rows="6"></textarea>
                <span asp-validation-for="HomeAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResidentailAddress" class="control-label"></label>
                <textarea asp-for="ResidentailAddress" class="form-control" cols="100" rows="6"></textarea>
                <span asp-validation-for="ResidentailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfileImage" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="ProfileImage" class="custom-file-input" id="customFile" onchange="ShowPreview(event);">
                    <label class="custom-file-label" for="customFile" id="ImagePreviewLabel">Choose file...</label>
                </div>
                <span asp-validation-for="ProfileImage" class="text-danger"></span>
            </div>
            <div class="text-center mb-3">
                <img class="rounded img-thumbnail" alt="Image Preview" id="ImagePreview" style="display:none;margin:0 auto" height=350 width="350">
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
    function ShowPreview(event) {
        if (event.target.files.length > 0) {
            var name = event.target.files[0].name;
            var scr = URL.createObjectURL(event.target.files[0]);
            var preview = document.getElementById("ImagePreview");
            preview.src = scr;
            preview.style.display = "block";
            document.getElementById("ImagePreviewLabel").innerText = name;
        }
    }


    $(document).ready(function () {
        $("#SelectedProvince").change(function () {
            var _SelectedProvince = $("#SelectedProvince").val();
            debugger;
            alert(_SelectedProvince);
            var _SelectedCity = $("#SelectedCity");
            _SelectedCity.empty();
            if (_SelectedProvince != null && _SelectedProvince != '') {
                $.getJSON('@Url.Action("GetCities")', { ProvinceId: _SelectedProvince }, function (cities) {
                    debugger;
                    if (cities != null && !jQuery.isEmptyObject(cities)) {
                        $.each(cities, function (index, city) {
                            _SelectedCity.append($('<option/>', {
                                value: city.value,
                                text: city.text
                            }));
                        });
                    }
                });
            } else {
                 $.getJSON('@Url.Action("GetCities")', { ProvinceId: _SelectedProvince }, function (cities) {
                    debugger;
                    if (cities != null && !jQuery.isEmptyObject(cities)) {
                        $.each(cities, function (index, city) {
                            _SelectedCity.append($('<option/>', {
                                value: city.value,
                                text: city.text
                            }));
                        });
                    }
                });
            }
        });
    });

</script>
}
